*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* === Container === */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* === Header === */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* === Hero Section === */
.section-hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* === Features === */
.section-features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

/* === Team === */
.section-team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.team-info {
    padding: 32px 0;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
}

.team-role {
    text-align: center;
    color: #434455;
}

/* === Portfolio === */
.section-portfolio {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
}

.portfolio-type {
    color: #434455;
}

/* === Footer === */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-accent {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}